<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.web1.mapper.UserMapper">

    <select id="findAll" resultType="com.study.web1.vo.UserVo">
        SELECT id, name, username, email, address, phone, website, company
        FROM User
        ORDER BY id DESC
    </select>

    <select id="findById" resultType="com.study.web1.vo.UserVo">
        SELECT id, name, username, email, address, phone, website, company
        FROM User
        WHERE id = #{id}
    </select>

    <insert id="saveUser">
        INSERT INTO User (name, username, email, password, address, phone, website, company)
        VALUES (#{name}, #{username}, #{email}, #{password}, #{address}, #{phone}, #{website}, #{company})
    </insert>

    <update id="updateUser">
        UPDATE User
        SET name = #{name}, username = #{username}, password = #{password}, email = #{email}, address = #{address}, phone = #{phone}, website = #{website}, company = #{company}
        WHERE id = #{id};
    </update>

    <delete id="deleteUser">
        DELETE FROM User
        WHERE id = #{id}
    </delete>
    
    <select id="countUsername" resultType="java.lang.Integer">
        SELECT count(*)
        FROM User
        WHERE username = #{username}
        <if test="id != null">
            AND id != #{id}
        </if>
    </select>

    <select id="countEmail" resultType="java.lang.Integer">
        SELECT count(*)
        FROM User
        WHERE email = #{email}
        <if test="id != null">
            AND id != #{id}
        </if>
    </select>

</mapper>