<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.web1.mapper.UserMapper">

    <select id="findAll" resultType="com.study.web1.vo.UserVo">
        SELECT id, name, username, email, password, address, phone, website, company
        FROM User
    </select>

</mapper>